<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :menu_date %>
    <%= form.date_field :menu_date, :value => Date.today, id: :menu_menu_date %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.select :title, @titles, {}, {:value => params[:menus_title]} %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.number_field :qty, id: :menu_qty %>
  </div>

  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
